.menu-container{
    background-color: white;
    height: 0%;
    width: 0%;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out,
        width 0.2s ease-in-out;

    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);;
}

.show{
    visibility: visible;
    width: 50%;
    height: 100%;
}

.active{
    background-color: lightblue;
}

.menu-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-heading p{
    margin: 0;
}    

.opt-container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}