.App {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame{
  background-color: silver;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

