.screen-container{
    width: 95%;
    height: 50%;
    background-image: url('./static/screen-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
   outline: 3px solid black;
}